<div class = "container">
  
  <div class = "first-view">
    <h2 class = "first-view-title">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>
    <!-- 検索機能 -->
  
  </div>

  <h3 class = "suggest-area">おすすめエリア</h3>
    <table>
      <tr>
        <th>東京</th>
        <th>大阪</th>
        <th>京都</th>
        <th>札幌</th>
      </tr>
      <tr>
        <!-- 各エリアへのリンク -->
      </tr>
    </table>

</div>