<div class="first-view">
  <h2 class="first-view-title">
    Potepan Shareで<br>
    まだ体験したことのない<br>
    旅をしよう
  </h2>
  <!-- 検索機能 -->
  <div class="first-view-search">
    検索機能
  </div>
</div>

<div class="container">
  <h3 clas="suggest-area-title">おすすめエリア</h3>
  <div class="row">
    <div class="col-xl-3 col-md-4 mb-4">
      <div class="card custom-card border-0">
        <a href="#">
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title">東京</h5>
          </div>
          <div class="card-img-wrap">
           <img src="/assets/homes/tokyo.jpg" class="card-img" alt="Tokyo">
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 mb-4">
      <div class="card custom-card border-0">
        <a href="#">
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title">大阪</h5>
          </div>
          <div class="card-img-wrap">
            <img src="/assets/homes/osaka.jpg" class="card-img" alt="Osaka">
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 mb-4">
      <div class="card custom-card border-0">
        <a href="#">
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title">京都</h5>
          </div>
          <div class="card-img-wrap">
            <img src="/assets/homes/kyoto.jpg" class="card-img" alt="Kyoto">
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 mb-4">
      <div class="card custom-card border-0">
        <a href="#">
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title">札幌</h5>
          </div>
          <div class="card-img-wrap">
            <img src="/assets/homes/sapporo.jpg" class="card-img" alt="Sapporo">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
